/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* css variables */

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Lora", serif;
    --primary-colour: #234F1E; /* pine */
    --primary-colour-transparent: rgba(35,79,30,0.4);
    --secondary-colour: #699E63; /* light pine */
    --primary-background-colour: #F1E9D2; /* parchment */ 
    --highlight: #967B5D; /* coca pecan */
}

/* global styles */

body {
    font-family: var(--primary-font);
    background-color: var(--primary-background-colour);
}

/* navbar styles */

#navbar {
    background-color: var(--primary-background-colour);
    padding: 3px;
}

#navbar #logo {
    width: 40px;
}

#navbar .nav-btn {
    font-family: var(--secondary-font);
    color: var(--primary-colour);
}

#navbar .active {
    text-decoration: underline;
    text-decoration-color: var(--primary-colour);
    text-decoration-thickness: 3px;
}

#navbar ul {
    display: flex;
    justify-content: center;
}

/* home main styles*/

#home-page-content {
    background: url(../images/social-gathering-backgorund.jpg) no-repeat center center/cover;
    height: 400px;
    width: 100%;
    position: relative;
}

#cover-text {
    background-color: var(--primary-colour-transparent);
    position: absolute;
    color: var(--primary-background-colour);
    bottom: 30px;
    left: 20px;
    width: 75%;
    min-height: 15px;
    padding-top: 20px;
    padding-left: 10px;
}

#cover-text h2 {
    font-family: var(--secondary-font);
}
/* footer */

#footer {
    background-color: var(--primary-colour);
    color: var(--primary-background-colour);
}