/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* css variables */

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Lora", serif;
    --primary-colour: #234F1E; /* pine */
    --primary-colour-transparent: rgba(35,79,30,0.6);
    --secondary-colour: #699E63; /* light pine */
    --primary-background-colour: #F1E9D2; /* parchment */ 
    --highlight: #967B5D; /* coca pecan */
}

/* global styles */

body {
    font-family: var(--primary-font);
    background-color: var(--primary-background-colour);
    color: var(--primary-colour);
}

main {
    padding-top: 40px;
}

h1, h2 ,h3 {
    font-family: var(--secondary-font);
}

.btn-style {
    border: 2px solid var(--primary-background-colour);
    background-color: var(--primary-background-colour);
    color: var(--primary-colour);
}

.btn-style:hover {
    border: 2px solid var(--primary-colour);
    background-color: var(--primary-colour);
    color: var(--primary-background-colour);
}

.header-image {
    width: 100%;
    min-height: 400px;
    object-fit: cover;
}

/* navbar styles */

#navbar {
    background-color: var(--primary-background-colour);
    padding: 3px;
}

#navbar #logo {
    width: 40px;
}

#navbar .nav-btn {
    font-family: var(--secondary-font);
    color: var(--primary-colour);
}

#navbar .active {
    text-decoration: underline;
    text-decoration-color: var(--primary-colour);
    text-decoration-thickness: 3px;
}

#navbar ul {
    display: flex;
    justify-content: center;
}


/* home main styles*/

#home-page-header {
    background: url(../images/social-gathering-backgorund.jpg) no-repeat center center/cover;
    height: 93vh;
    width: 100%;
    position: relative;
}

#cover-text {
    background-color: var(--primary-colour-transparent);
    position: absolute;
    color: var(--primary-background-colour);
    bottom: 25px;
    left: 25px;
    width: 85%;
    min-height: 15px;
    padding-top: 20px;
    padding-left: 10px;
}

#cover-text h2 {
    text-align: left;
}

.section {
    padding: 1rem;
}

#introduction h2 {
    text-align: center;
}

#whats-hot {
    background-color: var(--highlight);
    color: var(--primary-background-colour);
    text-align: center;
}

#whats-hot h5 {
    font-family: var(--secondary-font);
}

/* restaurant styles */

#restaurant-page-header {
    background: url(../images/york-restaurants-cover-photo.webp) no-repeat center center/cover;
    min-height: 600px;
    width: 100%;
    position: relative;
}

.top-text {
    padding-top: 1rem;
}

#card-cover-text {
    background-color: var(--primary-colour-transparent);
    position: absolute; 
    color: var(--primary-background-colour);
    text-align: left;
    left: 10px;
    bottom: 10px;
    width: 60%;
    min-height: 15px;
    padding: 5px;
}

.category-front {
    background-color: var(--highlight);
    color: var(--primary-background-colour);
    font-family: var(--secondary-font);
    border: var(--highlight) solid 2px;
    border-radius: 10px;
    text-align: center;
    width: 140px;
    margin: 5px;
}

.category-back {
    background-color: var(--highlight);
    color: var(--primary-background-colour);
    font-family: var(--secondary-font);
    border: var(--highlight) solid 2px;
    border-radius: 10px;
    text-align: center;
    width: 140px;
    margin: 5px auto;
}

.card-button a {
    color: var(--primary-colour);
    text-decoration: none;
}

.card-background-1 {
  background: url(../images/khao-san-road-cover-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.card-background-2 {
  background: url(../images/cut-and-craft-cover-photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.card-background-3 {
  background: url(../images/partisan-cover-photo.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.card-background-4 {
  background: url(../images/everest-ghurka-cover-photo.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}



/* card flipping code taken from W3Schools, also credited in the credit then modifified to fit my theme and purpose */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 400px;
  perspective: 1000px; 
  margin-bottom: 1rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: var(--primary-colour);
  color: var(--primary-background-colour);
  transform: rotateY(180deg);
  padding: 10px;
}

/* sign up styles */

#signup form > div {
    padding: 5px;
}

#signup-form .form-text {
    margin: 5px;
    width: 50%;
    color: var(--primary-colour);
    font-family: var(--primary-font);
    padding-top: 3px;
    font-size: medium;
}

#signup-form .form-box {
    width: 100%;
}

/* restuarant specific pages styling */
.back {
    padding-top: 23px;
}

.back a {
    color: var(--primary-colour);
    text-decoration: none;
}

.category-drillthrough {
    background-color: var(--highlight);
    color: var(--primary-background-colour);
    font-family: var(--secondary-font);
    border: var(--highlight) solid 2px;
    border-radius: 10px;
    text-align: center;
    width: 110px;
    margin: 3px auto;
    font-size: 13px;
}

.review-styles div {
    padding-bottom: 5px;
}

/* footer */

#footer {
    background-color: var(--primary-colour);
    color: var(--primary-background-colour);
    padding-top: 10px;
}

#footer #footer-name {
    font-family: var(--secondary-font);
}

#socials a {
    color: var(--primary-background-colour);
    font-size: 1.2rem;
    padding-left: 4px;
}



/* media queries */

/* media queries for large or landscape phones (576px or up) */

/* media queries for tablets or larger (768px or up) */

@media screen and (min-width: 768px) {
    /* index main content */
    #cover-text {
        width: 350px;
        left:40px;
    }

    /* card cover text positioning */
    #card-cover-text {
    left: 15px;
    bottom: 10px;
    width: 70%;
    min-height: 15px;
    padding: 10px;
    }
}

/* media queries for large tablets (992px or up) */
@media screen and (min-width: 992px) {
     /* card size for bar and restaurants page */
    .flip-card {
        height: 250px;
    }

    .header-image {
        height: 200px
    }

    /* card cover text positioning */
    #card-cover-text {
    left: 15px;
    bottom: 10px;
    width: 90%;
    min-height: 15px;
    padding: 10px;
    }

    /* sign up radio stacking */
    #signup-radio {
        text-align: center;
    }

    .category-front {    
    width: 90px;
    margin: 3px;
    font-size: 50%;
    }

    .category-back {    
    width: 90px;
    margin: 3px auto;
    font-size: 50%;
    }

    .card-description {
        font-size: 60%;
    }

    .diet-info {
        font-size: 50%;
        padding: 2px;
    }

     .flip-card-back h2 {
        font-size: 1.5rem;
    } 

    .card-button a {
        font-size: 70%;
        padding: none;
    }
}

/* media queries for laptops (1200px or up) */
@media screen and (min-width: 1200px) {
    
}



/* TO BE DELETED - BOOTSTRAP GRID STYLING */

.text-box {
    background-color: black;
    border: pink 2px solid;
}
